@page
@model DrozdArtStore.Pages.Customer.Home.Index1Model
@{
}
<div class="jumbotron container">
    <h1 class="display-3 p-lg-2">Michał Drozd</h1>
    <div class="container">
        <div class="col-5 form-check-inline"><img src="~/images/Thumb2.png" /></div>
        <p class="lead align-content-between"> Born in 1961 in Rzeszów, Poland. A professional photographer, who got his diploma in 1985. Initially worked as a laboratory assistant to go on as a photographer at Atelier Turaj and couple different places. He was a member and a founder of the academic creative group Agat, operating at the students club Plus of the Politechnical University of Rzeszow. In 1989-1995 he was a speedway photoreporter and since 1993 has been focused more on the commercial photography. Currently living in his hometown of Rzeszow, trained number of young photographers, helping them get the solid photgraphy, studio and laboratory foundations. Some of them are promising scenographers, main cameramen and graphic designers. </p>

        <p class="lead align-content-between">Since 1985 he has been with the Rzeszow Photography Association and has taken part in over 60 collective exhibitions both in and outside the country. He has had more than 20 individual exhibitions, i.e in 1989 "Points of view" at Rzeszow Photography Association, 1990 "Speedway" at EMPiK in Rszeszów, in 2001 at The Polish Museum of America, Chicago, In 2004 at Nyerygihaza's Photoclub Gallery Hungary, 2004 at Bliderhaus Bornemann in Lubeck, Germany. In 2006 The 20th anniversary of his creative work at Stara Drukarnia Rzeszów, in 2008 at the Philharmony of Rzeszow, 2012 at Europejska Galeria Sztuki Millenium Hall in Rzeszow, in 2013 "Voluntary Photography" at the Theathre of W.Siemaszkowa in Rzeszow, in 2016 "Rust Riders" at the DagArt Galerie.</p>

        <p class="lead align-content-between">He has received plenty awards and distinctions during both Polish and international photography contests, which include the diploma of the Polish Federation of Photography Associations for his creative work at Biennale of Polish Artistic Photography (Świdnica 1990), II Award in the contest "Various Faces of Portrait" (Rybnik 1996), The Gold Medal and the title of Master Of Poland at Studio Photography (Warsaw 2000), Silver Glass in the category of "Music" and Bronze Glass in the category of "Portait" at Polish Open Photography Championship (Olsztyn 2005), Grand Prix Biennale of Photographic Poster (Plock 2006), Stasys Eidrigevicius' Award in the contest "Portait" (Trzcianka 2006).</p>
    </div>
</div>