@page
@model DrozdArtStore.Pages.Customer.Cart.OrderConfirmationModel
@{
}


<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model.orderId </br></br>
        <img src="~/images/Mashup1.jpg" />
    </div>
    <div class="col-12 text-center" style="color:aquamarine">
        Your order has been placed successfully! </br>
        We do our best to make sure that you receive your delivery on the given date and time. 
        
    </div> 
</div>